<div class="">
    <h2 class="section-title">{{type}}</h2>
    <div ng-if="category=='cabinets'">
        <div class="row" >
           
            <!--uib-tooltip="cabinet-tooltip.html" tooltip-placement="bottom"-->
                <div class="col-md-12" ng-mouseenter="detailsshow = true" ng-mouseleave="detailsshow = false">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" >
                            <img ng-src="{{slide.image}}" style="margin:auto; height:600px; width:auto;">
                            <!--<div class="carousel-caption">
                    <h4>Slide {{item.id}}</h4>
                    <p>{{item.type}}</p>
                </div>-->
                        </div>


                    </div>
                </div>
                <div class="row" ng-show="detailsshow">
                    <div class="col-md-3">
                        
                           
                            <div>
                                <p ng-show="imageContent[active].sizes.w.length>1">width: <span>{{imageContent[active].sizes.w[0]}} <span ng-show="imageContent[active].sizes.w.length>1">(<span ng-repeat="isize in imageContent[active].sizes.w.slice(1,imageContent[active].sizes.w.length)">{{isize}}{{$last ? '' : ', '}}</span>)</span> мм</span>  </p>
                                <p ng-show="imageContent[active].sizes.d.length>1">depth: <span>{{imageContent[active].sizes.d[0]}} <span ng-show="imageContent[active].sizes.d.length>1">(<span ng-repeat="isize in imageContent[active].sizes.d.slice(1,imageContent[active].sizes.d.length)">{{isize}}{{$last ? '' : ', '}}</span>)</span> мм</span>  </p>
                                <p ng-show="imageContent[active].sizes.h.length>1">height: <span>{{imageContent[active].sizes.h[0]}} <span ng-show="imageContent[active].sizes.h.length>1">(<span ng-repeat="isize in imageContent[active].sizes.h.slice(1,imageContent[active].sizes.h.length)">{{isize}}{{$last ? '' : ', '}}</span>)</span> мм</span>  </p>
                          
                                <p ng-show="imageContent[active].hull != null">hull:   <span>{{imageContent[active].hull}}</span></p>
                                <p ng-show="imageContent[active].system != null">system:  <span>{{imageContent[active].system}}</span></p>
                                <p ng-show="imageContent[active].facade != null">facade:    <span>{{imageContent[active].facade}}</span></p>
                                <p ng-show="imageContent[active].photoprint != null">photoprint: <span>{{imageContent[active].photoprint}}</span></p>
                                <p ng-show="imageContent[active].piskost != null">piskost: <span>{{imageContent[active].piskost}}</span></p>
                                
                                <p ng-show="imageContent[active].mdf != null">mdf: <span>{{imageContent[active].mdf}}</span></p>
                                <p ng-show="imageContent[active].dsp != null">dsp: <span>{{imageContent[active].dsp}}</span></p>
                                <p ng-show="imageContent[active].oracal != null">oracal: <span>{{imageContent[active].oracal}}</span></p>
                                <p ng-show="imageContent[active].kombi != null">kombi: <span>{{imageContent[active].kombi? '+': '-'}}</span></p>
                                
                            </div>
                        
                    </div>
                </div>
               
                <div class="row">
                    <div class="x-commons-wrap">
                        <div class="cabinet-texs-wrap"  ng-repeat="c in imageContent[active].details">

                            <!--<label class="kitchen-commons-name">{{c}}</label>-->
                            <div class="x-commons-img-wrap" ng-click="zoomImage(c);">
                                <img ng-src="{{c}}"  class="x-commons-img" />
                                <span class="x-commons-img-zoom">
                                    <i class="glyphicon glyphicon-plus plus-icon"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
          
           
        </div>


        <div class="row general-common-titles">
            Кольори корпусів
        </div>
        <hr/>

        <div class="row">
            <!--<div class="col-md-2 cabinet-hull" ng-repeat="c in hullColors">

                <label class="cabinet-hull-name">{{c.name}}</label>
                <div class="cabinet-hull-img-wrap">
                    <img ng-src="{{c.url}}" class="cabinet-hull-img"/>
                </div>
            </div>-->
            <div class="x-commons-wrap">
                <div class="x-commons" ng-repeat="c in hullColors" title="{{c.name}}">

                    <!--<label class="kitchen-commons-name">{{c.name}}</label>-->
                    <div class="x-commons-img-wrap" ng-click="zoomImage(c.url);">
                        <img ng-src="{{c.url}}" title="{{c.name}}" class="x-commons-img" />
                        <span class="x-commons-img-zoom">
                            <i class="glyphicon glyphicon-plus plus-icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row general-common-titles">
            Кольори систем
        </div>
        <hr />
        <div class="row">
            <!--<div class="col-md-2 cabinet-system" ng-repeat="c in systemColors">

                <label class="cabinet-system-name">{{c.name}}</label>
                <div class="cabinet-system-img-wrap">
                    <img ng-src="{{c.url}}" class="cabinet-system-img" />
                </div>
            </div>-->
            <div class="x-commons-wrap">
                <div class="x-commons" ng-repeat="c in systemColors">

                    <!--<label class="kitchen-commons-name">{{c.name}}</label>-->
                    <div class="x-commons-img-wrap" ng-click="zoomImage(c.url);">
                        <img ng-src="{{c.url}}" title="{{c.name}}" class="x-commons-img" />
                        <span class="x-commons-img-zoom">
                            <i class="glyphicon glyphicon-plus plus-icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row general-common-titles">
            Комбі
        </div>
        <hr />
        <div class="row">
            <!--<div class="col-md-2 cabinet-combi" ng-repeat="c in combis">

                <label class="cabinet-combi-name">{{c.name}}</label>
                <div class="cabinet-combi-img-wrap">
                    <img ng-src="{{c.url}}" class="cabinet-combi-img" />
                </div>
            </div>-->

            <div class="x-commons-wrap">
                <div class="x-commons" ng-repeat="c in combis">

                    <!--<label class="kitchen-commons-name">{{c.name}}</label>-->
                    <div class="x-commons-img-wrap" ng-click="zoomImage(c.url);">
                        <img ng-src="{{c.url}}" title="{{c.name}}" class="x-commons-img" />
                        <span class="x-commons-img-zoom">
                            <i class="glyphicon glyphicon-plus plus-icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row general-common-titles">
            Зразки ВС
        </div>
        <hr />
        <div class="row">
            
            <!--<div class="col-md-2 cabinet-vstype" ng-repeat="c in vsTypes">

                <label class="cabinet-vstype-name">{{c.name}}</label>
                <div class="cabinet-vstype-img-wrap">
                    <img ng-src="{{c.url}}" class="cabinet-vstype-img" />
                </div>
            </div>-->
            <div class="x-commons-wrap">
                <div class="x-commons" ng-repeat="c in vsTypes">

                    <!--<label class="kitchen-commons-name">{{c.name}}</label>-->
                    <div class="x-commons-img-wrap" ng-click="zoomImage(c.url);">
                        <img ng-src="{{c.url}}" title="{{c.name}}" class="x-commons-img" />
                        <span class="x-commons-img-zoom">
                            <i class="glyphicon glyphicon-plus plus-icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row general-common-titles">
            Зразки дзеркал
        </div>
        <hr />
        <div class="row">
            <div class="x-commons-wrap">
                <div class="x-commons" ng-repeat="c in mirrors">

                    <!--<label class="kitchen-commons-name">{{c.name}}</label>-->
                    <div class="x-commons-img-wrap" ng-click="zoomImage(c.url);">
                        <img ng-src="{{c.url}}" title="{{c.name}}" class="x-commons-img" />
                        <span class="x-commons-img-zoom">
                            <i class="glyphicon glyphicon-plus plus-icon"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-2 cabinet-mirror" ng-repeat="c in mirrors">

                <label class="cabinet-mirror-name">{{c.name}}</label>
                <div class="cabinet-mirror-img-wrap">
                    <img ng-src="{{c.url}}" class="cabinet-mirror-img" />
                </div>
            </div>-->
        </div>
    </div>
    <div ng-if="category=='kitchens'">
        <div class="row">
            <div>
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" >
                        <img ng-src="{{slide.image}}" style="margin:auto; height:600px; width:auto;">
                        <!--<div class="carousel-caption">
                <h4>Slide {{item.id}}</h4>
                <p>{{item.type}}</p>
            </div>-->
                    </div>


                </div>
            </div>
        </div>
        <div class="row general-common-titles">
            Зразки фасадів

            kitchens
        </div>
        <hr />
        <div class="row">
            <div class="x-commons-wrap">
                <div class="x-commons" ng-repeat="c in facades">

                    <!--<label class="kitchen-commons-name">{{c.name}}</label>-->
                    <div class="x-commons-img-wrap" ng-click="zoomImage(c.url);">
                        <img ng-src="{{c.url}}" title="{{c.name}}" class="x-commons-img" />
                        <span class="x-commons-img-zoom">
                            <i class="glyphicon glyphicon-plus plus-icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row general-common-titles">
            Зразки модулів
        </div>
        <hr />
        <div class="row">
            <div class="x-commons-wrap" >
                <div class="x-commons" ng-repeat="c in kitchenCommons">

                    <!--<label class="kitchen-commons-name">{{c.name}}</label>-->
                    <div class="x-commons-img-wrap" ng-click="zoomImage(c.url);">
                        <img ng-src="{{c.url}}" title="{{c.name}}" class="x-commons-img" />
                        <span class="x-commons-img-zoom">
                            <i class="glyphicon glyphicon-plus plus-icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div ng-if="category=='furnitures'" style="margin-bottom:80px;margin-top:80px;">
        <div class="col-md-12">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto; height:600px; width:auto;opacity: 0.4;">
                    <div class="carousel-caption">
                
                        <p  class="furnitures-text" >Продукція в розробці</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>