################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs/garant-nv.github.io/v15/.suo
/.vs/VSWorkspaceState.json
/images/bgs/VWDOrVs2015AzurePack.exe
/.vs/slnx.sqlite
