<!DOCTYPE html>
<html>
<head>
    <title>Garant</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="icon" href="images/favicon.png">
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/grant.css?version=4" rel="stylesheet" />

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>

    <!--<script src="Scripts/angular-animate.min.js"></script>-->
 <!--   <script src="Scripts/angular-touch.min.js"></script>-->
    <script src="Scripts/angular-translate.min.js"></script>
    <!--<script src="Scripts/angular-translate-loader-url.min.js"></script>-->
    <script src="Scripts/angular-translate-loader-static-files.min.js"></script>

    <script src="Scripts/ui-bootstrap-tpls.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Handlee|Shadows+Into+Light+Two" rel="stylesheet">
    <script src="app/app.js?version=r1"></script>
    <script src="app/main/mainController.js?version=r1"></script>
    <script src="app/about/aboutController.js?version=r1"></script>
    <script src="app/contact/contactController.js?version=r1"></script>
    <script src="app/home/homeController.js?version=r1"></script>
    <script src="app/modal/modalController.js?version=r1"></script>
    <script src="app/products/productsController.js?version=r1"></script>
    <script src="app/products/cabinets/cabinetsController.js?version=r1"></script>
    <script src="app/products/furnitures/furnituresController.js?version=r1"></script>
    <script src="app/products/kitchens/kitchensController.js?version=r1"></script>
    <script src="app/products/details/detailsController.js?version=r1"></script>
    <script src="app/service/dataService.js?version=r1"></script>

    <!--<base href="/index.html">-->
   
</head>
<body ng-app="app" class="bg fixed bg1">

    <div class="clearfix top-header"  >
        <div class="container">
            <div class="col-sm-6" style="width:50%">
                <span>
                    <i class="glyphicon glyphicon glyphicon-globe"></i>
                    <a target="_blank" class="top-header-links" href="http://garant-nv.sigmasoft.com.ua/ua/">{{'NAV_OUR_WEBSITE' | translate }}</a>
                </span>
                <span>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <a target="_blank" class="top-header-links" href="https://www.google.com/maps/dir//50.5914314,27.600718/@50.591431,27.600718,17z?hl=en" target="_blank">{{'NAV_OUR_ADDRESS' | translate }}</a>
                </span>
            </div>
            <div class="col-sm-6" style="width:50%">
                <span class="pull-right">
                    {{'NAV_TELEPHONS' | translate }}: <i class="glyphicon glyphicon-phone"></i>
                    <a target="_blank" class="top-header-links" href="tel:+380674119788">+380674119788</a>,
                    <a target="_blank" class="top-header-links" href="tel:+380638224054">+380638224054</a>,
                    <a target="_blank" class="top-header-links" href="tel:+380506572917">+380506572917</a>
                </span>
            </div>
        </div>
    </div>
    <header class="clearfix" ng-controller="mainController">
        <div class="container-fluid" style="background:white;">
         
            <div class="container">
                <div class="header-left">
                    <a class="" ui-sref="home" title="Garant"><img src="images/logo_500.png" class="logo-brand" /></a>
                    <!--<h1 style="color:black">Меблі Garant</h1>-->
                </div>
                <div class="header-right">
                    <label for="open">
                        <span class="hidden-desktop"></span>
                    </label>
                    <input type="checkbox" name="" id="open">
                    <nav>
                        <a class="nav-link" ui-sref="home" ng-click="is_active = false">{{'NAV_HOME' | translate }}</a>
                        <a class="nav-link" ui-sref="products" ng-click="is_active = false">{{'NAV_PRODUCTS' | translate }}</a>
                        <a class="nav-link" ui-sref="about" ng-click="is_active = false">{{'NAV_ABOUT' | translate }}</a>
                        <a class="nav-link" ui-sref="contact" ng-click="is_active = false">{{'NAV_CONTACTS' | translate }}</a>

                        <a class="nav-link lang-wrap" style="text-decoration:none; padding-right:0em ;" ng-init="lang='ua'" href="javascript:void(0);">

                            <img src="images/flag/flag_ua.png" title="ua" class="lang {{lang=='ua'? 'lan-active':''}}" ng-click="setLang('ua')" />
                            <img src="images/flag/flag_ru.png" title="ru" class="lang {{lang=='ru'? 'lan-active':''}}" ng-click="setLang('ru')" />
                            <img src="images/flag/flag_uk.png" title="uk" class="lang {{lang=='uk'? 'lan-active':''}}" ng-click="setLang('uk')" />
                    <!--{{lang=='ua'? 'lan-active':''}}-->
                        </a>
                     
                   
                    </nav>
                    
                </div>
            </div>
        </div>
    </header>
   
    <div class="container-fluid main-content" ui-view>
            
    </div>
    <footer class="footer clearfix">
        <p class="copyright">
            <span class="copyright__text">© Garant 2017</span>
        </p>
        <div class="social">
            <a href="http://www.facebook.com" class="social__btn" target="_blank"><img src="images/footer-fb.png" alt="Facebook"></a>
            <a href="https://twitter.com/" class="social__btn" target="_blank"><img src="images/footer-twitter.png" alt="Twitter"></a>
            <a href="http://plus.google.com" class="social__btn" target="_blank"><img src="images/footer-gplus.png" alt="Google+"></a>
        </div>
    </footer>
</body>
</html>

