.navbar-custom {
    border-radius: 0px;
    height:70px;
    /*background-color:#341ae0;*/
      position: fixed;
    z-index: 1000;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
   
    
}
.logo-brand {
    height:40px;
}
.p-left {
    text-align:left
}
.footer-info {
    color: white;

}
.footer-custom, .navbar-custom, .lang-wrap {
background: #4285F4;
    background: -webkit-gradient(linear, left top, left bottom, from(#4285F4), to(#0d47a1));
    background: -webkit-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: -moz-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: -o-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: linear-gradient(to bottom, #4285F4 0%, #0d47a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4285F4', endColorstr='#0d47a1', GradientType=0);
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
}

a {
    color: white !important;
}
a:hover {
    color: red !important;
}
/*.navbar-inverse .navbar-nav > li > a {

}*/

.lang-ua-icon  {
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/flag/flag_ua.png);
    width: 32px;
    height: 32px;
}

.card {
    cursor: pointer;
    margin-bottom: 30px;
}

.card-title {
    height: 35px;
    line-height: 35px;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    margin-bottom: 0;
}
.card-body {
    position: relative;
    padding: 10px;
    background: #4285F4;
    background: -webkit-gradient(linear, left top, left bottom, from(#4285F4), to(#0d47a1));
    background: -webkit-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: -moz-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: -o-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: linear-gradient(to bottom, #4285F4 0%, #0d47a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4285F4', endColorstr='#0d47a1', GradientType=0);
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
}
.card-header {
    overflow: hidden;
    position: relative;
    top: 10px;
    height: 190px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 20px;
    border: 1px solid #0d47a1;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    background-color: rgba(255, 255, 255, 0.55);
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .5);
    /*-webkit-transition: 0.25s ease-in-out;*/
    -o-transition: 0.25s ease-in-out;
    /*-moz-transition: 0.25s ease-in-out;*/
    transition: 0.25s ease-in-out;
    text-align: center;


    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}
.card-header:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
      
}
.card-wrap {
    min-height: 210px;
}
.card-wrap:hower{
    opacity: 0.65;
}


.card-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

