.navbar-custom {
    border-radius: 0px;
    height:65px;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    color:white;
    
}
.logo-brand {
    height:40px;
}
.p-left {
    text-align:left
}
.footer-info {
    color: white;

}
 
.footer-custom, .navbar-custom, .lang-wrap, #main-menu{
    font-size: 17px;
    line-height: 35px;
    font-weight: 700;
     background: #4285F4;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#4285F4), to(#0d47a1));
    background: -webkit-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: -moz-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: -o-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: linear-gradient(to bottom, #4285F4 0%, #0d47a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4285F4', endColorstr='#0d47a1', GradientType=0);
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);*/
}

#main-menu {
/*padding-left:25%;*/
}

/*a {
    color: white !important;
}*/
a:hover {
    color: red !important;
}


.lang-ua-icon  {
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/flag/flag_ua.png);
    width: 32px;
    height: 32px;
}

.card {
    cursor: pointer;
    margin-bottom: 30px;
}

.card-title {
    height: 35px;
    line-height: 35px;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    margin-bottom: 0;
}
.card-title:hover {
    color:red!important
}
.card-body {
    position: relative;
    padding: 10px;
    background: #4285F4;
    background: -webkit-gradient(linear, left top, left bottom, from(#4285F4), to(#0d47a1));
    background: -webkit-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: -moz-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: -o-linear-gradient(top, #4285F4 0%, #0d47a1 100%);
    background: linear-gradient(to bottom, #4285F4 0%, #0d47a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4285F4', endColorstr='#0d47a1', GradientType=0);
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
}
.card-header {
    overflow: hidden;
    position: relative;
    top: 10px;
    height: 190px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 20px;
    border: 1px solid #0d47a1;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    background-color: rgba(255, 255, 255, 0.55);
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .5);
    /*-webkit-transition: 0.25s ease-in-out;*/
    -o-transition: 0.25s ease-in-out;
    /*-moz-transition: 0.25s ease-in-out;*/
    transition: 0.25s ease-in-out;
    text-align: center;


    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}
.card-header:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
      
}
.card-wrap {
    min-height: 210px;
}
.card-wrap:hower{
    opacity: 0.65;
}


.card-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #ff0001;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.main-head {
    height: 150px;
    color: #000000;
}

.lang-menu{
    margin-right: 15px;
    
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover  {
   background-color: #3e4cde;
}



nav ul {
  list-style: none;
  text-align: center;
}

nav ul li:hover {
  -webkit-text-stroke-width: 0.7px;
   -webkit-text-stroke-color: black;
   border-bottom:3px solid #fff;

}


.navbar-inverse .navbar-nav>li>a, .footer-info > a, .footer-info> span > a {
    color:white;
}
.footer-custom {

    bottom: 0;
    left: 0;
    right: 0;
}


/*cabinet*/
.cabinet-texs {
    height: auto;
    max-height: 200px;
    max-width: 200px;
    width:auto;
    padding: 15px;
}

.cabinet-texs-wrap {

}
/*hulls*/
.cabinet-hull-img {
     height: auto;
    max-height: 200px;
    max-width: 200px;
    width:auto;
    padding: 15px;
}
.cabinet-hull-img-wrap {

}
.cabinet-hull-name {

}
.cabinet-hull {

}

/*systems*/
.cabinet-system-img {
     height: auto;
    max-height: 200px;
    max-width: 200px;
    width:auto;
    padding: 15px;
}
.cabinet-system-img-wrap {

}
.cabinet-system-name {

}
.cabinet-system {

}

/*combi*/
.cabinet-combi-img {
     height: auto;
    max-height: 200px;
    max-width: 200px;
    width:auto;
    padding: 15px;
}
.cabinet-combi-img-wrap {

}
.cabinet-combi-name {

}
.cabinet-combi {

}

/*vs-type*/
.cabinet-vstype-img {
     height: auto;
    max-height: 200px;
    max-width: 200px;
    width:auto;
    padding: 15px;
}
.cabinet-vstype-img-wrap {

}
.cabinet-vstype-name {

}
.cabinet-vstype {

}
/*mirror*/
.cabinet-mirror-img {
     height: auto;
    max-height: 200px;
    max-width: 200px;
    width:auto;
    padding: 15px;
}
.cabinet-mirror-img-wrap {

}
.cabinet-mirror-name {

}
.cabinet-mirror {

}