<div class="col-xs-4 card" ui-sref="products.cabinets">
    <div class="card-wrap">
        <div class="card-header card-header-menu">
            <img class="card-img" src="/images/icon/cabinet_logo-min.jpg" />
        </div>
        <div class="card-body">
            <p class="card-title">
                {{'S_MENU_CABINETS' | translate}}
            </p>
        </div>
    </div>
</div>
<div class="col-xs-4 card" ui-sref="products.kitchens">
    <div class="card-wrap">
        <div class="card-header card-header-menu" >
            <img class="card-img" src="/images/icon/kitchen_logo-min.jpg" />
        </div>
        <div class="card-body">
            <p class="card-title">
                {{'S_MENU_KITCHENS' | translate}}
            </p>
        </div>
    </div>
    
</div>
<div class="col-xs-4 card" ui-sref="products.furnitures">
    <div class="card-wrap">
        <div class="card-header card-header-menu">
            <img class="card-img"  src="/images/icon/furniture_logo-min.jpg" />
        </div>
        <div class="card-body">
            <p class="card-title">
                {{'S_MENU_FURNITURES' | translate}}
            </p>
        </div>
    </div>
   
</div>
<div class="col-xs-4 card" ui-sref="products.others">
    <div class="card-wrap">
        <div class="card-header card-header-menu">
            <img class="card-img" src="/images/cabinets/cabinets - chests.jpg" />
        </div>
        <div class="card-body">
            <p class="card-title">
                {{'S_MENU_OTHERS' | translate}}
            </p>
        </div>
    </div>

</div>